doctype html
html(lang="en")
	head
		title Wynn Software | Book Collection
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
		.wrapper
			h1(style="margin-top: 60px;") Wynn Software Book Collection
			.container(style="margin-top: 150px;")
				.row.text-center(style="padding-bottom: 200px;")
					.col-md-4(style="height: 450px; background-color: red") A
					.col-md-4(style="height: 450px; background-color: blue") B
					.col-md-4(style="height: 450px; background-color: orange") C
				.row.text-center
					.col-md-4(style="height: 450px; background-color: blue") D
					.col-md-4(style="height: 450px; background-color: orange") E
					.col-md-4(style="height: 450px; background-color: red") F